<div class="grid-container">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <ng-container *ngIf="card.type == 'analytics'">
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/tasks">Go to tasks</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-analytics [pieChartData]="pieChartData"></app-analytics>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'sales'">
        <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/tasks">Go to tasks</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-analytics-sales [barChartData]="barChartData"></app-analytics-sales>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'apexOne'">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/tasks">Go to tasks</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <app-apexcharts [chartOptions]="chartOptions"></app-apexcharts>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'apexTwo'">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content priority">
            <app-apexpriority [chartOptionsPriority]="chartOptionsPriority"></app-apexpriority>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'apexThree'">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content priority">
            <app-apex-mixed [chartOptionsMixed]="chartOptionsMixed"></app-apex-mixed>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'admin' && !error">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openDialog()">Create</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <table mat-table [dataSource]="adminUser">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>

              <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
              </ng-container>

              <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">{{element.last_name}}</td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['id', 'first_name', 'last_name', 'email']"></tr>
              <tr mat-row (click)="openAdmin(row)"
                *matRowDef="let row; columns: ['id', 'first_name', 'last_name', 'email']"></tr>
            </table>

          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="card.type == 'companies' && !error2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/companies">Go to companies</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <table mat-table [dataSource]="companies">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>

              <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef>Admin</th>
                <td mat-cell *matCellDef="let element">{{element.admin}}</td>
              </ng-container>

              <ng-container matColumnDef="active_until">
                <th mat-header-cell *matHeaderCellDef>Active Until</th>
                <td mat-cell *matCellDef="let element">{{element.active_until}}</td>
              </ng-container>

              <ng-container matColumnDef="accounts">
                <th mat-header-cell *matHeaderCellDef>Accounts</th>
                <td mat-cell *matCellDef="let element">
                  <mat-list *ngFor="let a of element.accounts">
                    <mat-list-item role="listitem">{{a}}</mat-list-item>
                  </mat-list>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['id', 'name', 'admin', 'active_until', 'accounts']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'admin', 'active_until', 'accounts']"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'ip'">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/ip-address">Check IP</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content ip">
            <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="id">UID</th>
                <th mat-sort-header="ip_address">IP address</th>
                <th mat-sort-header="verified">Verified</th>
                <th mat-sort-header="account">Account</th>
              </tr>

              <tr *ngFor="let el of sortedData">
                <td>{{el.id}}</td>
                <td>{{el.ip_address}}</td>
                <td>
                  <ng-container *ngIf="el.verified">
                    <mat-icon>check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!el.verified">
                    <mat-icon>cancel</mat-icon>
                  </ng-container>
                </td>
                <td>{{el.account}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="card.type == 'invites'  && !error3">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/home/invites">Go to invites</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content ip">
            <table matSort (matSortChange)="sortInviteData($event)">
              <tr>
                <th mat-sort-header="id">UID</th>
                <th mat-sort-header="ip_address">Email</th>
                <th mat-sort-header="invited_by">Admin</th>
                <th mat-sort-header="accepted">Accepted</th>
                <th mat-sort-header="used">Used</th>
              </tr>

              <tr *ngFor="let el of sortedInvite">
                <td>{{el.id}}</td>
                <td>{{el.email}}</td>
                <td>
                  <ng-container *ngIf="el.accepted">
                    <mat-icon>check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!el.accepted">
                    <mat-icon>cancel</mat-icon>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="el.used">
                    <mat-icon>check</mat-icon>
                  </ng-container>
                  <ng-container *ngIf="!el.used">
                    <mat-icon>cancel</mat-icon>
                  </ng-container>
                </td>
                <td>{{el.invited_by}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>