.full-width-table {
  width: 90%;
}
.mat-mdc-table {
  table-layout: fixed;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: #ffd740;
}
mat-button-toggle-group{
  margin-left: 4%;
}

.last-butt {
  margin-left: 3%;
}