.grid-container {
    margin: 20px;
  }
  .mat-grid-tile-content{
    height: fit-content;
  }
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: fit-content;
  }
  .fullpanel {
    width: 100%;
  }
  .more-button {
    position: absolute;
    top: 5px;
    right: 80px;
  }
  
  .dashboard-card-content {
    text-align: center;
    width: 100%;
  }
  