<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
      <span matListItemTitle>Reset password</span>
      <form [formGroup]="form" matLine>
        <mat-form-field appearance="fill">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>Email</mat-label>
          <input type="text" 
          matInput placeholder="Email" 
          formControlName="email"
          required>
          <mat-error>{{emaiErrors()}}</mat-error>
        </mat-form-field></form>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button mat-button [disabled]="form.invalid" (click)="reset(form)" cdkFocusInitial>Submit</button>
          </div>
</div>